
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Josefin+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Josefin+Slab:wght@300;400&family=Quattrocento:wght@400;700&display=swap');


 /* palette1
    background-color: #91beb7;
    background-color: #00a8b1;
    background-color: #f2ce06;
    background-color: #ff6a18;
    */

    /* palette2
    background-color: #2e1a35;
    background-color: #ff5975;
    background-color: #fff7fa;
    background-color: #fedada;



    #ca6680
    #fb9f89



    #B6C649
    #D16666

    */
*{
    margin: 0;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Josefin Slab', serif;*/
    
}

body:not(header, .imgme){
    background-color: #ffffdf;
}

ul{
    list-style-type: none;
}

.invisible{
    display: none;
}

.visible{
    display: block;
    filter: none;
}

.blurred{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

header{
    background-image: url(../pictures/pexels-kristina-paukshtite-701816.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 880px;
    font-family: 'Josefin Sans', sans-serif;
}

.blur{
    background:#938e8e9d;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    padding-bottom: 10%;
    clip-path: 
        polygon(
            0% 0%,
            100% 0%,
            100% calc(100% - 15%),
            0% 100%
        );
}

nav{
    padding-top: 2%;
    display: flex;
    gap: 10%;
    position: fixed;
    right: 10%;
    width: 45%;
    list-style-type: none;
    font-size: 1.3em;
    color: #ffffdf;
    
    
}

nav div:hover{
    
    transition: scale .2s ease-in;
    border-bottom: 5px solid #b2ff0cce;
    
}

nav a:any-link{
    color: #ffffdf;
    text-decoration: none;
}

.name{
    font-size: 4em; 
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
    
    padding-left: 15%;
    color: #ffffdf;

    
}

.name:first-of-type{
    padding-top: 13%;
}


.situation{
    padding-left: 15%;
    font-size: 1.5em; 
    color: #ffffdf;
    margin-top: 1%;
}

section{
    font-size: 1.2em;
    
}

.about{
    margin-top: 7%;
}
/*
.imgme{
    
    border-radius: 5%;
    margin-top: 5%;
}

/*
.resume{
    display: flex;
    margin-left: 10%;
}

.cv, .play{
    text-decoration: none;
    color: #0d5982;
    margin-top: 7%;  
}

.cv:hover{
    text-decoration: underline;
    color: rgb(50, 124, 253);
    margin-top: 7%;  
}

/*
.resume p{
    text-align: justify;
    
}

.resume img{
    border-radius: 5%;
 
}

/*intérets*/
.interests{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

h2, h3{
    /*font-family: 'Quattrocento', serif;*/
    font-weight: 500;
    font-family: 'Josefin Slab', sans-serif;
}

.intereststitle{
    margin-top: 2%;
    margin-left: 5%;
}

.progtitle{
    margin-top: 10%;
    margin-left: 5%;
}

.progtitle, .intereststitle{
   
    margin-left: 5%;
}

h2{
    font-size: 2em;
    font-weight: 700;
    
}

.interests div{
    width: 375px;
}

.languages:hover,.handlettering:hover{
    transition: all .2s ease-in-out;
    margin-top: 2%;
    margin-bottom: 2%;   
}

.languages, .UI, .handlettering{
    text-align: center;
    padding: 5%;
    height: 270px;
    background-color: #bddd1a;
    border-radius: 1em;
    margin-top: 5%;
}

h4{
    font-weight: normal;
    margin-top: 48%;
}

.languagedisplay{
    display: flex;
    flex-direction: row;
    padding-top: 13%;
   
}


#langue{
    text-align: right;
    padding-left: 25%;
    vertical-align: middle;
}
#langue li{
    margin-bottom: 5%;
    margin-top: 5%;
    
}
#level{
    text-align: left;
    margin-left: -5%;
}

.handletteringimg{
    overflow-x: scroll;
    display: flex;
    gap: 2%;
    flex-direction: row;
}

.carousel-item{
    max-width: 97.5%;
}
/* Langages de programmation */
.programming{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    place-items: center;
    gap: 1%;

    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;

}

.skill{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
    
}

.skill::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #ffffdf;
    

}
.skill{
    margin-top: 0.75rem;
}

.skill:nth-child(1){
    background-image: conic-gradient(pink 95%, transparent 0);
    color: gray;
    
}

.skill:nth-child(2){
    background-image: conic-gradient(pink 70%, transparent 0);
    color: gray;
}

.skill:nth-child(3){
    background-image: conic-gradient(pink 65%, transparent 0);
    color: gray;
}

.skill:nth-child(4){
    background-image: conic-gradient(pink 60%, transparent 0);
    color: gray;
}

.skill:nth-child(5){
    background-image: conic-gradient(pink 40%, transparent 0);
    color: gray;
}

.skill:nth-child(6){
    background-image: conic-gradient(pink 60%, transparent 0);
    color: gray;
    grid-area: 2/2/3/3;
}

.skill:nth-child(7){
    background-image: conic-gradient(pink 68%, transparent 0);
    color: gray;
    grid-area: 2/3/3/4;
}

.skill:nth-child(8){
    background-image: conic-gradient(rgb(255, 192, 203) 90%, transparent 0);
    color: gray;
    grid-area: 2/4/3/5;
}

.skill:nth-child(9){
    background-image: conic-gradient(pink 70%, transparent 0);
    color: gray;
    grid-area: 2/1/3/2;
}

.content{
    font-size: 1em;
    z-index: 1;
    text-align: center;
}

.content span{
    display: block;
}


/* Compétences 

.summary ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5%;

}


.summary li{
    background-color: #89b30a;
    border-radius: 0.5em;
    line-height: 50px;
    text-align: center;
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;

    color: #ffffdf;
}

.summary li:first-of-type, #comp1{
    background-color: #ffa02c;
}

.complist li:nth-child(2), #comp2{
    background-color: #f95882;
}

.complist li:nth-child(3), #comp3{
    background-color: #B14384;
}

.complist li:nth-child(4), #comp4{
    background-color: #bddd1a;
}

.complist li:nth-child(5), #comp5{
    background-color: #00c3e1;
}

.complist li:nth-child(6), #comp6{
    background-color: #937bf4;
}

.semestre{
    margin: 3.5%;
    background-color: #e5e5e5;
    padding: 2%;

    border-radius: 1em;
}


.comp{
    display: flex;
    gap: 1.5%;
    
    padding: 1%;
    justify-content: center;
    align-items: center;    

    /*transition: all 5ms ease-in;
    transition-delay: 2s;
}*/

/*to make semesters toggle 

.semestre{
    height: 30px;
    transition-property: height;
    transition-timing-function: ease-in-out;
    transition-duration: .6s;
}

.semestre:not(.uncomplete):hover{
    height: 400px;
    transition-property: height;
    transition-timing-function: ease-in-out;
    transition-duration: .8s;
}

.uncomplete .compitem{
    display: none;
}
*/
/*to make compitems appear and disappear with semester toggles
.compitem{
    border-radius: 0.75em;
}

.semestre:not(.uncomplete):not(:hover) .compitem{
    height: 0px;
    padding-top: 0%;
    transition-property: height, padding-top;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;

}
.semestre:not(.uncomplete):hover .compitem{
    padding-top: 3%;
    height: 300px;
    transition-property: height, padding-top;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-delay: .2s;
}

/*to make compitems expand*
.compitem{
    width: 4.3%;
}


.comp:hover .compitem:not(:hover){
    width: 4.3%;
    transition: width 1.2s ease-in-out;
}

.comp:hover .compitem:hover{
    width: 70%;
    transition: width 1.2s ease-in-out;  
    transition-delay: .2s;  
}

/*to make text appear and disappear with compitems expansion
.compitem li, .compitem h3{
    opacity: 0;
    min-width: 450px;
    overflow: hidden;
     
}

.compitem li{
    margin-right: 5%;
}

.compitem:hover li, .compitem:hover h3{
    opacity: 1;
    transition: opacity .9s ease-in;
    transition-delay: .5s;  
}

.comptags{
   display: flex;
   flex-wrap: wrap;
   min-width: 500px;
    
}
.ac{
    margin-left: 1%;
}
.comptags li{
    background-color: #ebae45;
    min-width: 45px;
    max-width: 400px;

    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;

    padding-left: 2%;
    padding-right: 2%;

    padding-top: 0.5%;
    padding-bottom: 0.5%;

    border-radius: 1em;
}

.subjects{
    max-width: 300px;
}

.comp h3{
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
*/
.summary li:first-of-type, #comp1{
    background-color: #ffa02c;
}

.complist li:nth-child(2), #comp2{
    background-color: #f95882;
}

.complist li:nth-child(3), #comp3{
    background-color: #B14384;
}

.complist li:nth-child(4), #comp4{
    background-color: #bddd1a;
}

.complist li:nth-child(5), #comp5{
    background-color: #00c3e1;
}

.complist li:nth-child(6), #comp6{
    background-color: #937bf4;
}



.comp1{
    color: #ffa02c;
}
.bgcomp1{
    background-color: rgb(255, 160, 44);
}
#y1c1{
    background-color: rgb(255, 160, 44, 0.6) ;
}
#y2c1{
    background-color: rgb(255, 160, 44, 0.8) ;
}

.comp2{
    color: #f95882;
}
.bgcomp2{
    background-color: rgb(249, 88, 130);
}
#y1c2{
    background-color: rgb(249, 88, 130, 0.4) ;
}
#y2c2{
    background-color: rgb(249, 88, 130, 0.7) ;
}

.comp3{
    color: #B14384;
}
.bgcomp3{
    background-color: rgb(177, 67, 132);
}
#y1c3{
    background-color: rgb(177, 67, 132, 0.4) ;
}
#y2c3{
    background-color: rgb(177, 67, 132, 0.7) ;
}

.comp4{
    color: #bddd1a;
}
.bgcomp4{
    background-color: rgb(189, 221, 26);
}
#y1c4{
    background-color: rgb(189, 221, 26, 0.4) ;
}
#y2c4{
    background-color: rgb(189, 221, 26, 0.7) ;
}

.comp5{
    color: #00c3e1;
}
.bgcomp5{
    background-color: rgb(0, 195, 225);
}
#y1c5{
    background-color: rgb(0, 195, 225, 0.4) ;
}
#y2c5{
    background-color: rgb(0, 195, 225, 0.7) ;
}

.comp6{
    color: #937bf4;
}
.bgcomp6{
    background-color: rgba(147, 123, 244) ;
}
#y1c6{
    background-color: rgba(147, 123, 244, 0.4) ;
}
#y2c6{
    background-color: rgba(147, 123, 244, 0.7) ;
}

.clicableProject:hover{
    background-color: #ffd000;
}
.clicableProject{
    background-color: #adb5bd;
}

/* Projets scolaires */

.schoolproj{
    background-color: #fedada;
    
    margin-top: 10%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    clip-path: 
        polygon(
            0% 6%,
            100% 0%,
            100% calc(100% - 0%),
            0% 100%
        );
    
}

.carousel-item, .card-img-top{
    width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-inner{
    height: 300px;
}

/* exp */


.experience{
    background-color: #e7cfab;
    
    padding: 10%;
    padding-bottom: 15%;
   
}

/*
.schprojitems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;

    margin-top: 5%;
    margin-bottom: 5%;
    
}

.schprojitems div{
    margin-top: 5%;
    padding: 1em;
    border-radius: 0.5em;
    padding-bottom: 10%;
    background-color: #cacaca;
    
}

.schprojitems div:hover{
    background-color: #b7b7b7;
    margin-bottom: 2%;
    margin-top: 3%;
    transition: linear .2s;
}



.schprojitems img{
    border-radius: 0.2em;
}

.schprojitems p{
    padding-top: 2%;
    text-align: center;
    font-size: 1.2em;
   
}


.personalproj{
    margin: 5%;
    
}

.personalproj h2{
    margin: 5%;
}

.persproject h3{
    margin-top: 5%;
    
}

/*proj 1*/
.descr1{
    position: relative;
    height: 460px;
    width: 100%;
    
}

.descr1 img{
    margin: 5%;
    border-radius: 0.5em;
    position: absolute;
    
    
}

.descr1 p{
    display: block;
    position: absolute;
    background-color: rgba(255, 100, 232, 0.463);
    bottom: 0;
    right: 0;
    margin: 1%;
    padding: 3%;
    width: 25em;

    border-radius: 0.5em;
    text-align: justify;
}

.skills{
    display: flex;
    flex-direction: column;
    
}

.hardskills{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5%;
    margin-top: 22.5%;
}

.hardskills li, .softskills li{
    margin-right: 1%;
    margin-top: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 1em;
   
}

.hardskills li{
    background-color: #c181e1;
}

.softskills li{
    background-color: greenyellow;
}

.softskills{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 4.5%;
    margin-left: 2.75%;
    
    
}

/*proj 2*/
#pp2{
    margin-top: 12%;
}
.descr{
    position: relative;
    height: 520px;
    width: 100%;
    
}

.descr img{
    border-radius: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1%;

}

.descr p{
    display: block;
    position: absolute;
    background-color: rgb(255, 100, 232, 0.463);
    top: 0;
    left: 0;
    margin: 5%;
    padding: 3%;
    width: 25em;

    border-radius: 0.5em;
}



.hardskills2{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3.5%;
    margin-top: 15%;
}

.hardskills2 li, .softskills2 li{
    margin-right: 1%;
    margin-top: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 1em;
   
}

.hardskills2 li{
    background-color: #c181e1;
}

.softskills2 li{
    background-color: greenyellow;
}

.coming li{
    background-color: rgb(2, 1, 0);
    color: white;
    max-width: fit-content;

    margin-left: 1%;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1em;
}

.softskills2{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10.15%;
    margin-left: -1.25%;
    max-width: 400px;
}

/*footer*/


footer{
    margin-top: 1%;
    padding-top: 5%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

footer section{
    margin-top: 2%;
    margin-bottom: 2%;
   
}


.credit{
    
    text-align: center;
    margin-left: 3%;
    margin-left: 0%;
    
}

.social li{
    list-style-type: none;
}

.social ul{
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-left: -2%;

}

.social li{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    outline: 1.5px solid black;
    border-radius: 50%;
    width: 65px;
    padding: 1%;
    padding-left: 1.3%;
    padding-top: 1.4%;
  
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
    margin-top: 1%;

}

.insta:hover{
    background-image: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%, #fdf497 5%,
        #fd5949 45%, #d6249f 60%,
        #285aeb 90%
    );
    outline-color: #a02d76;
    outline-offset: 4px;
    
}

.linkedin:hover{
    background-color:#0d5982;
    outline-color: #0d5982;
    outline-offset: 4px;
    
}

.gitlab:hover{
    background-color:#ee9c0e;
    outline-color: #ee9c0e;
    outline-offset: 4px;
    
}

.tel:hover{
    background-color:#89b30a;
    outline-color: #89b30a;
    outline-offset: 4px;
    
}

.mail:hover{
    background-color:#ee9c0e;
    outline-color: #ee9c0e;
    outline-offset: 4px;
    
}



/*les modales
.modal{
    position: fixed;
    overflow: hidden;
    z-index: 1;
    left:0;
    top: 0;
    margin-left: 18%;
    margin-top: 5%;
    width: 60%;
    height: 65%;

    background-color: white;
    border-radius: 1em;

    padding: 2%;

    font-size: 1.1em;


}

.layout{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2%;
}

.widest{
   margin-top: 5%;
   margin-left: 3%;

}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5%;
    margin-left: 3%;
} 

.projetdescription{
   
    width: 400px;
    padding: 2%;
    margin-top: 3%;
}

.projetdescription ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10%;
    margin-top: 3%;
   
}

.projetdescription li{
    margin-right: 2%;
    margin-top: 2%;

    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 0.5%;

    background-color: #ee9c0e;
    border-radius: 1em;
}

.projetdescription h2{
    margin-bottom: 2%;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.434);
}






/*
le regard est le premier vecteur de communication
les mains visibles
cv à rapporter + notes (carnet/feuilles)



5 phases
présentation --> tendre des perches
    des trucs sur lesquels on aimerait parler
    déboucher sur les motivations

attentes du candidat, questions sur la mission, ce qu'on comprennd pas, se projeter
peut etre faire des propositions si l'entreprise n'a pas un cadre précis

projet, but, poursuite d'études, 

rémunération

Que savez vous de nous?
qu'est ce qui vous intéresse dans notre entreprise
langages, technologies de prédilection
comment vous aimez travaillez?
qualités, défauts pour la mission
qu'est ce qui pourrait vous empêcher d'atteindre les objectifs 
de quoipensez vous avoir besoin pour réussir

dut cpoax wcx wx
*/
